@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --unpas-blue: #003366;
  --unpas-gold: #FFB800;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-unpas-blue: var(--unpas-blue);
  --color-unpas-gold: var(--unpas-gold);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.bg-unpas-blue {
  background-color: var(--unpas-blue);
}

.text-unpas-blue {
  color: var(--unpas-blue);
}

.bg-unpas-gold {
  background-color: var(--unpas-gold);
}

.text-unpas-gold {
  color: var(--unpas-gold);
}

.border-unpas-blue {
  border-color: var(--unpas-blue);
}

.border-unpas-gold {
  border-color: var(--unpas-gold);
}
